//component imports
@use "./components/header";
@use "./components/hero";
@use "./components/features";
@use "./components/feature";
@use "./components/download";
@use "./components/faq";
@use "./components/contact";
@use "./components/footer";
@use "./components/mobile";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Rubik", sans-serif;
}

button,
input {
  font: inherit;
}
