@use "../variables/index" as *;

.hero {
  display: grid;
  grid-template-columns: 30rem 1fr;
  grid-gap: 5rem;
  align-items: center;
  max-width: $layout-max-width;
  width: $layout-width;
  margin: 0 auto;
  margin-top: 5.5rem;

  @media (max-width: $bp-2) {
    grid-template-columns: 25rem 1fr;
  }

  @media (max-width: $bp-3) {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  &__intro {
    @media (max-width: $bp-3) {
      grid-row: 2 / 3;
    }
  }

  &__heading {
    font-size: $h1-size;
    font-weight: $fw-2;
    margin-bottom: 1.5rem;
    color: $color-dark-blue;

    @media (max-width: $bp-3) {
      text-align: center;
    }
  }

  &__text {
    font-size: $body-size;
    color: $color-gray;
    line-height: 1.75rem;
    margin-bottom: 1.5rem;

    @media (max-width: $bp-3) {
      text-align: center;
      max-width: 32rem;
      margin-inline: auto;
    }
  }

  &__links {
    display: flex;

    @media (max-width: $bp-3) {
      justify-content: center;
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    background-color: $color-white;
    color: $color-dark-blue;
    font-weight: $fw-2;
    padding: 0.75rem 1.5rem;
    border-radius: $btn-radius;
    background-color: rgba($color-gray, 0.1);
    font-size: $button-size;
    border: 2px solid transparent;
    transition: all 0.2s;

    &:first-child {
      margin-right: 1rem;
    }

    &--primary {
      background-color: $color-blue;
      color: $color-white;
    }

    &:hover {
      background-color: white;
      border: 2px solid $color-dark-blue;
    }

    &--primary:hover {
      color: $color-blue;
      border: 2px solid $color-blue;
    }

    @media (max-width: $bp-5) {
      padding: 0.75rem 1rem;
    }
  }

  &__graphic {
    position: relative;

    @media (max-width: $bp-3) {
      justify-self: center;
    }

    &::after {
      position: absolute;
      bottom: -3rem;
      right: -26rem;
      display: block;
      content: "";
      width: 125%;
      height: 80%;
      border-top-left-radius: 10rem;
      border-end-start-radius: 10rem;
      background-color: $color-blue;
      z-index: -1;
      display: none;
    }
  }

  &__screen {
    margin: 0 auto;
    display: block;
    @media (max-width: $bp-1) {
      width: 100%;
    }

    @media (max-width: $bp-3) {
      width: 70%;
    }

    @media (max-width: $bp-6) {
      width: 100%;
    }
  }
}
